# Ignorar tudo na pasta inicio
/projeto/inicio/*

# Permitir apenas views.py e urls.py dentro da pasta inicio
!/projeto/inicio/views.py
!/projeto/inicio/urls.py

# Ignorar tudo na pasta setup
/projeto/setup/*

# Permitir apenas urls.py dentro da pasta setup
!/projeto/setup/urls.py

# Ignorar banco de dados
db.sqlite3

# Ignorar arquivos temporários do Python
*.pyc
__pycache__/
